In [1]:
import pandas as pd
data = {'names':['Sara Moreno 34',
                 'jUAn GOMez 23',
                 'CArlos mArtinez 89',
                 'Alfredo VelaZques 3',
                 'luis Mora 56',
                 '@freddier #platzi 10',pd.NA]}

Usemos los datos del diccionario para crear nuestro DataFrame. Nuestro DataFrame contiene una columna tipo texto, con variedades de caracteres especiales, números, mayúsculas e inclusive variables nulas.

In [2]:
df = pd.DataFrame(data)
df

                  names
0        Sara Moreno 34
1         jUAn GOMez 23
2    CArlos mArtinez 89
3   Alfredo VelaZques 3
4          luis Mora 56
5  @freddier #platzi 10
6                  <NA>

# Minusculas
Para usar las funciones asociadas a texto usamos str en nuestro DataFrame, por ejemplo, si se quiere colocar el texto en minúscula, basta con escribir:

In [3]:
df['names'].str.lower()

0          sara moreno 34
1           juan gomez 23
2      carlos martinez 89
3     alfredo velazques 3
4            luis mora 56
5    @freddier #platzi 10
6                    <NA>
Name: names, dtype: object

# Mayusculas
Para mayúsculas igualmente:

In [4]:
df['names'].str.upper()

0          SARA MORENO 34
1           JUAN GOMEZ 23
2      CARLOS MARTINEZ 89
3     ALFREDO VELAZQUES 3
4            LUIS MORA 56
5    @FREDDIER #PLATZI 10
6                    <NA>
Name: names, dtype: object

# Primera letra en mayúscula

In [5]:
df['names'].str.capitalize()

0          Sara moreno 34
1           Juan gomez 23
2      Carlos martinez 89
3     Alfredo velazques 3
4            Luis mora 56
5    @freddier #platzi 10
6                    <NA>
Name: names, dtype: object

# Longitud de un texto

In [6]:
df['names'].str.len()

0      14
1      13
2      18
3      19
4      12
5      20
6    <NA>
Name: names, dtype: object

# Dividir un texto
Para dividir el texto por espacios usamos split y definimos el carácter por
el que queremos dividir, en este caso, un espacio vacío ' ' o '#':

In [7]:
df['names'].str.split(' ')

0          [Sara, Moreno, 34]
1           [jUAn, GOMez, 23]
2      [CArlos, mArtinez, 89]
3     [Alfredo, VelaZques, 3]
4            [luis, Mora, 56]
5    [@freddier, #platzi, 10]
6                        <NA>
Name: names, dtype: object

In [8]:
df['names'].str.split('#')

0           [Sara Moreno 34]
1            [jUAn GOMez 23]
2       [CArlos mArtinez 89]
3      [Alfredo VelaZques 3]
4             [luis Mora 56]
5    [@freddier , platzi 10]
6                       <NA>
Name: names, dtype: object

# Seleccionar los primeros o últimos 5 caracteres usamos:

In [9]:
df['names'].str[:5]

0    Sara
1    jUAn
2    CArlo
3    Alfre
4    luis
5    @fred
6     <NA>
Name: names, dtype: object

In [11]:
df['names'].str[-5:]

0    no 34
1    ez 23
2    ez 89
3    ues 3
4    ra 56
5    zi 10
6     <NA>
Name: names, dtype: object

# Remplazar
Podemos reemplazar una secuencia de caracteres por otra mediante:

In [12]:
df['names'].str.replace('Alfredo','Antonio')

0          Sara Moreno 34
1           jUAn GOMez 23
2      CArlos mArtinez 89
3     Antonio VelaZques 3
4            luis Mora 56
5    @freddier #platzi 10
6                    <NA>
Name: names, dtype: object

# Buscar por letras en especifico
También podemos buscar una secuencia de texto en específico, en este caso, **'ara'**:

In [13]:
df['names'].str.findall('ara')

0    [ara]
1       []
2       []
3       []
4       []
5       []
6     <NA>
Name: names, dtype: object

También podemos crear un filtro basándonos en una secuencia de texto en
específico, en este caso, las filas que tengan **'or'**:

In [14]:
df['names'].str.contains('or')

0     True
1    False
2    False
3    False
4     True
5    False
6     <NA>
Name: names, dtype: object

# Contar ocurrencias de un texto
Así mismo, podemos contar el número de ocurrencias de un caracter en específico,
por ejemplo, cuántas veces aparece la letra '**a**':

In [15]:
df['names'].str.lower().str.count('a')

0       2
1       1
2       2
3       2
4       1
5       1
6    <NA>
Name: names, dtype: object

# Extraer informacion especifica con Regex
Existen comandos más avanzados usando Regex, por ejemplo, si quiero extraer los
caracteres numéricos:

In [16]:
df['names'].str.extract('([0-9]+)', expand=False)

0     34
1     23
2     89
3      3
4     56
5     10
6    NaN
Name: names, dtype: object

O, por ejemplo, si quiero extraer las menciones '@xxxx' del texto:

In [17]:
df['names'].str.replace('@[^\s]+','')

/shared-libs/python3.7/py-core/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

0         Sara Moreno 34
1          jUAn GOMez 23
2     CArlos mArtinez 89
3    Alfredo VelaZques 3
4           luis Mora 56
5             #platzi 10
6                   <NA>
Name: names, dtype: object

# Devuelva la columna1 y columna2 con las filas que concidan con el texto buscado en la columna ( Puede ser cualquiera en el DataFrame)

In [ ]:
df [ ['columna1', 'columna2'] ][ df.columna.str.contains( 'busqueda' ) ]

# Concidencia en la columna1 y columna2, tambien puede usar el operados '|' para buscar en una columna u otra

In [ ]:
df [ df.columna1.str.contains( 'Texto1' ) & df.columna_diferente.str.contains('Texto a buscar en nueva columna') ]

# Si se quiere buscar una concidencia exacta

In [ ]:
df[ df.column == texto ]

# Buscar mas de una cadena

In [ ]:
df[ df.column.str.contains('cadena1' | 'cadena 2') ]

# Ignorar mayusculas y expersiones regulares

In [ ]:
df[ df.column.str.contains( 'texto a buscar', case=False, Regex=True) ]

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=40d7a071-7e6a-4668-9914-a7e81441c111' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>