In [37]:
import pandas as pd
import numpy as np
df_left = pd.DataFrame(
    {'X':['x0','x1','x2','x3'],
    'W':['w0','w1','w2','w3'],
    'Y':['y0','y1','y2','y3'],
    'Mix':['y2','y3','a2','a3']},
    index = [0,1,2,3])
df_left

    X   W   Y Mix
0  x0  w0  y0  y2
1  x1  w1  y1  y3
2  x2  w2  y2  a2
3  x3  w3  y3  a3

In [38]:
df_right = pd.DataFrame(
    {'Z':['z2','z3','z4','z5'],
     'A':['a2','a3','a4','a5'],
     'Y':['y2','y3','y4','y5']},
    index = [2,3,4,5])
df_right

    Z   A   Y
2  z2  a2  y2
3  z3  a3  y3
4  z4  a4  y4
5  z5  a5  y5

# Merge
Funciona exactamente igual como en SQL, pero no tienes que escribir una gran cantidad de codigo y nos permite poder unir diferentes DataFrames seung la relacion que tengan.

In [39]:
pd.merge(df_left,df_right, how='inner', on='Y')

    X   W   Y Mix   Z   A
0  x2  w2  y2  a2  z2  a2
1  x3  w3  y3  a3  z3  a3

Unir una columna con otra columna que **comparten** el mismo nombre.

In [44]:
pd.merge(df_left,df_right, how='inner', left_on='Mix', right_on='Y', suffixes=['_left','_right'])

    X   W Y_left Mix   Z   A Y_right
0  x0  w0     y0  y2  z2  a2      y2
1  x1  w1     y1  y3  z3  a3      y3

In [43]:
pd.merge(df_left,df_right, how='inner', left_on='Mix', right_on='A', suffixes=['_left','_right'])

    X   W Y_left Mix   Z   A Y_right
0  x2  w2     y2  a2  z2  a2      y2
1  x3  w3     y3  a3  z3  a3      y3

## Tipos de Merge

![](http://www.datasciencemadesimple.com/wp-content/uploads/2017/09/join-or-merge-in-python-pandas-1.png)

In [19]:
df_left = pd.DataFrame(
    {'X': ['x0', 'x1', 'x2', 'x3'],
    'W': ['w0', 'w1', 'w2', 'w3'], 
    'Y': ['y0', 'y1', 'y2', 'y3'] },
    index=[0,1,2,3])
df_right = pd.DataFrame(
    {'Z': ['z2', 'z3', 'z4', 'z5'],
    'A': ['a2', 'a3', 'a4', 'a5'], 
    'Y': ['y2', 'y3', 'y4', 'y5']},
    index=[2,3,4,5])

**Inner**

In [21]:
pd.merge(df_left,df_right, how='inner')

    X   W   Y   Z   A
0  x2  w2  y2  z2  a2
1  x3  w3  y3  z3  a3

**Left**

In [22]:
pd.merge(df_left,df_right, how='left', on='Y')

    X   W   Y    Z    A
0  x0  w0  y0  NaN  NaN
1  x1  w1  y1  NaN  NaN
2  x2  w2  y2   z2   a2
3  x3  w3  y3   z3   a3

**Right**

In [23]:
pd.merge(df_left,df_right, how='right', on='Y')

     X    W   Y   Z   A
0   x2   w2  y2  z2  a2
1   x3   w3  y3  z3  a3
2  NaN  NaN  y4  z4  a4
3  NaN  NaN  y5  z5  a5

**Outer**

In [26]:
pd.merge(df_left,df_right, how='outer', on='Y')

     X    W   Y    Z    A
0   x0   w0  y0  NaN  NaN
1   x1   w1  y1  NaN  NaN
2   x2   w2  y2   z2   a2
3   x3   w3  y3   z3   a3
4  NaN  NaN  y4   z4   a4
5  NaN  NaN  y5   z5   a5

Tipos de **Merge** cuando se **comparten** mas de un parametro.

In [46]:
df_left2 = pd.DataFrame(
    {'X': ['x0', 'x1', 'x2', 'x3'],
    'W': ['w0', 'w1', 'w2', 'w3'], 
    'Y': ['y0', 'y1', 'y2', 'y3'],
    'A': ['a0', 'a1', 'a2', 'a3'],})
df_left2

    X   W   Y   A
0  x0  w0  y0  a0
1  x1  w1  y1  a1
2  x2  w2  y2  a2
3  x3  w3  y3  a3

In [47]:
pd.merge(df_left2,df_right,how='outer', on=['Y','A'])

     X    W   Y   A    Z
0   x0   w0  y0  a0  NaN
1   x1   w1  y1  a1  NaN
2   x2   w2  y2  a2   z2
3   x3   w3  y3  a3   z3
4  NaN  NaN  y4  a4   z4
5  NaN  NaN  y5  a5   z5

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=40d7a071-7e6a-4668-9914-a7e81441c111' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>