In [13]:
import pandas as pd
import numpy as np
import seaborn as sns

pd.options.display.float_format = '{:,.3f}'.format
df = sns.load_dataset('tips')

df.describe(include='all')

        total_bill     tip   sex smoker  day    time    size
count      244.000 244.000   244    244  244     244 244.000
unique         NaN     NaN     2      2    4       2     NaN
top            NaN     NaN  Male     No  Sat  Dinner     NaN
freq           NaN     NaN   157    151   87     176     NaN
mean        19.786   2.998   NaN    NaN  NaN     NaN   2.570
std          8.902   1.384   NaN    NaN  NaN     NaN   0.951
min          3.070   1.000   NaN    NaN  NaN     NaN   1.000
25%         13.348   2.000   NaN    NaN  NaN     NaN   2.000
50%         17.795   2.900   NaN    NaN  NaN     NaN   2.000
75%         24.127   3.562   NaN    NaN  NaN     NaN   3.000
max         50.810  10.000   NaN    NaN  NaN     NaN   6.000

In [14]:
df.groupby(['sex','time'])[['total_bill']].mean()

               total_bill
sex    time
Male   Lunch       18.048
       Dinner      21.461
Female Lunch       16.339
       Dinner      19.213

In [15]:
df_gp = df.groupby(['sex','time'])[['total_bill']].mean().reset_index()
df_gp

      sex    time  total_bill
0    Male   Lunch      18.048
1    Male  Dinner      21.461
2  Female   Lunch      16.339
3  Female  Dinner      19.213

# Creando Pivot Table
Pivot nos ayuda crear tablas con **indices categoricos**
Pivot nos permite poder crear una tabla apartir de una agrupacion o crearla apartir del DataFrame original.
<img src='https://pandas-docs.github.io/pandas-docs-travis/_images/reshaping_pivot.png'>

In [16]:
df_gp.pivot_table(values='total_bill', index='sex', columns='time')

time    Lunch  Dinner
sex
Male   18.048  21.461
Female 16.339  19.213

## Multiples funciones

In [18]:
df_pivot = df.pivot_table(values='total_bill', index='sex', columns='time', aggfunc=[np.median,np.std])
df_pivot

       median          std
time    Lunch Dinner Lunch Dinner
sex
Male   16.580 19.630 7.953  9.461
Female 13.420 17.190 7.501  8.202

**Unstack**: Nos deshace las categorias.

**reset_index**: Si lo queremos volver hacer un DataFrames.

In [20]:
df_pivot.unstack().reset_index()

  level_0    time     sex      0
0  median   Lunch    Male 16.580
1  median   Lunch  Female 13.420
2  median  Dinner    Male 19.630
3  median  Dinner  Female 17.190
4     std   Lunch    Male  7.953
5     std   Lunch  Female  7.501
6     std  Dinner    Male  9.461
7     std  Dinner  Female  8.202

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=40d7a071-7e6a-4668-9914-a7e81441c111' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>