In [9]:
import pandas as pd
import numpy as np

dict_data = {'CH': [100, 800, 200], 'CO': [100, 200, 300], 'MX': [300, 500, 400]}
dict_data

{'CH': [100, 800, 200], 'CO': [100, 200, 300], 'MX': [300, 500, 400]}

# Crear un DataFrame

In [10]:
df = pd.DataFrame(dict_data)
df

    CH   CO   MX
0  100  100  300
1  800  200  500
2  200  300  400

In [12]:
dict_data2 = {
    'edad' :     [ 10, 9, 13, 14, 12, 11, 12],
    'cm' : [ 115, 110, 130, 155, 125, 120, 125],
    'pais' :    [ 'co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'],
    'genero' :  [ 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'Q1' : [ 5, 10, 8, np.nan, 7, 8, 3],
    'Q2' : [ 7, 9, 9, 8, 8, 8, 9.]
}
dict_data2

{'edad': [10, 9, 13, 14, 12, 11, 12],
 'cm': [115, 110, 130, 155, 125, 120, 125],
 'pais': ['co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'],
 'genero': ['M', 'F', 'F', 'M', 'M', 'M', 'F'],
 'Q1': [5, 10, 8, nan, 7, 8, 3],
 'Q2': [7, 9, 9, 8, 8, 8, 9.0]}

In [18]:
df2 = pd.DataFrame(dict_data2,index=['ana','benito','camilo','daniel','erika','fabian','gabriela'])
df2

          edad   cm pais genero    Q1   Q2
ana         10  115   co      M   5.0  7.0
benito       9  110   mx      F  10.0  9.0
camilo      13  130   co      F   8.0  9.0
daniel      14  155   mx      M   NaN  8.0
erika       12  125   mx      M   7.0  8.0
fabian      11  120   ch      M   8.0  8.0
gabriela    12  125   ch      F   3.0  9.0

# Funciones de Pandas

In [51]:
df2.columns
df2.values
df2.index
#Te mostrara el minimo. maximo, media,std,â€¦etc de las columnas numericas.
df2.describe()

            edad          cm         Q1        Q2
count   7.000000    7.000000   6.000000  7.000000
mean   11.571429  125.714286   6.833333  8.285714
std     1.718249   14.556949   2.483277  0.755929
min     9.000000  110.000000   3.000000  7.000000
25%    10.500000  117.500000   5.500000  8.000000
50%    12.000000  125.000000   7.500000  8.000000
75%    12.500000  127.500000   8.000000  9.000000
max    14.000000  155.000000  10.000000  9.000000

Valores repetidos y valores unicos

In [55]:
df2['edad'].value_counts()
df2['edad'].unique()

array([10,  9, 13, 14, 12, 11])

## Obtener los campos deseados

In [25]:
df2[['edad','cm','Q1']]

          edad   cm    Q1
ana         10  115   5.0
benito       9  110  10.0
camilo      13  130   8.0
daniel      14  155   NaN
erika       12  125   7.0
fabian      11  120   8.0
gabriela    12  125   3.0

## Localizar registros mediante sus indices y columnas

In [28]:
df2.loc['ana',['edad','cm','Q1']]

edad     10
cm      115
Q1      5.0
Name: ana, dtype: object

In [29]:
df2.loc[['ana','erika'],['edad','cm','Q1']]

       edad   cm   Q1
ana      10  115  5.0
erika    12  125  7.0

## Obtener un valor usando la posicion del DataFrame

In [31]:
df2.iloc[2,1]

130

In [32]:
df2.iloc[[2,3],[1,2,3]]

         cm pais genero
camilo  130   co      F
daniel  155   mx      M

In [34]:
#Obtiene todas las filas con las columnas deseadas.
df2.iloc[:,[1,2,3]]

           cm pais genero
ana       115   co      M
benito    110   mx      F
camilo    130   co      F
daniel    155   mx      M
erika     125   mx      M
fabian    120   ch      M
gabriela  125   ch      F

# Query con condiciones

In [40]:
df2[(df2['edad'] >= 12) & (df2['pais'] == 'mx')]

        edad   cm pais genero   Q1   Q2
daniel    14  155   mx      M  NaN  8.0
erika     12  125   mx      M  7.0  8.0

In [41]:
df2.query('edad>12')

        edad   cm pais genero   Q1   Q2
camilo    13  130   co      F  8.0  9.0
daniel    14  155   mx      M  NaN  8.0

In [44]:
df2[df2['Q2'] > df2['Q1']]

          edad   cm pais genero   Q1   Q2
ana         10  115   co      M  5.0  7.0
camilo      13  130   co      F  8.0  9.0
erika       12  125   mx      M  7.0  8.0
gabriela    12  125   ch      F  3.0  9.0

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=40d7a071-7e6a-4668-9914-a7e81441c111' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>